html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-image: url("assets/seaport-during-daytime-132037.jpg");
  background-repeat: no-repeat;
  margin: auto;
}
#clock {
  text-align: center;
  border: 1px solid blue;
  border-radius: 12px;
  margin-left: 700px;
  margin-right: 700px;
  font-size: 115px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 250px;
}
